/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
header {
  position: relative;
}
header nav {
  width: 100%;
  height: 60px;
  background-color: #fbd0ca;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  right: 0;
}
header nav .links {
  font-size: 1.4rem;
  width: 35%;
  display: flex;
  height: 1rem;
  justify-content: space-evenly;
  text-transform: uppercase;
}
header nav .links a {
  text-decoration: none;
  cursor: pointer;
}
header nav .links a:hover {
  color: hotpink;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out 0.01s;
}
header nav .icon-links {
  width: 17%;
  transition: all 0.5s ease-in-out;
}
header nav .icon-links .fab {
  margin-right: 24px;
  width: 15px;
  font-size: 2rem;
  cursor: pointer;
}
header nav .icon-links .fab:hover {
  color: hotpink;
  transition: color 0.5s ease-in-out 0.01s;
  transform: scale(1.2);
}
.landing-page {
  position: relative;
}
.landing-page img {
  width: 100%;
  height: 600px;
}
.landing-page .txt-content1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(235, 226, 234, 0.945);
  box-sizing: border-box;
  padding-bottom: 4%;
  text-align: center;
}
.landing-page .txt-content1 h4 {
  box-sizing: border-box;
  margin-bottom: 1%;
  margin-top: 12%;
  font-size: 1.6rem;
}
.landing-page .txt-content1 h2 {
  box-sizing: border-box;
  margin-top: 6%;
  font-size: 4rem;
}
.landing-page .btn {
  margin-bottom: 3%;
  margin-left: 1.5%;
  text-transform: uppercase;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #070606;
  height: 50px;
  width: 300px;
  color: blanchedalmond;
  font-size: 1.8rem;
  line-height: 1.5;
  position: absolute;
  bottom: 16px;
}
.landing-page .btn:hover {
  background-color: #60271B;
  color: rgba(235, 226, 234, 0.945);
}
.landing-page .btn a {
  text-align: center;
}
.abt-chef .abt-chef-wrap {
  margin: 7% 2%;
  display: flex;
  justify-content: space-around;
}
.abt-chef .abt-chef-wrap .abt-chef-img {
  width: 40%;
}
.abt-chef .abt-chef-wrap .abt-chef-img img {
  width: 600px;
  height: 600px;
}
.abt-chef .abt-chef-wrap .abt-chef-txt {
  width: 40%;
  line-height: 1.5;
  font-size: 1.6rem;
}
.events-wrap {
  box-sizing: border-box;
  background-color: #fee0df;
  height: 600px;
  padding: 3% 0;
}
.events-wrap .events-wrapper {
  display: flex;
  justify-content: center;
}
.events-wrap .events-wrapper img {
  width: 250px;
  height: 250px;
  padding-bottom: 3%;
  padding-right: 3%;
}
.events-wrap .events-wrapper .events-wrapper-txt {
  width: 30%;
  margin-right: 4%;
  text-align: center;
  padding-top: 4%;
}
.events-wrap .events-wrapper .events-wrapper-txt h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 3% 0;
}
.events-wrap .events-wrapper .events-wrapper-txt hr {
  width: 100px;
}
.events-wrap .events-wrapper .events-wrapper-txt p {
  margin: 3% 0;
}
.events-wrap .events-wrapper .events-wrapper-txt a {
  text-decoration: none;
  font-size: 1.6rem;
}
.events-wrap .events-wrapper .events-wrapper-img .img-row1 {
  Padding-right: 2%;
}
.just-img {
  position: relative;
  background: url("../images/choc-img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}
.just-img .just-img-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.just-img .just-img-txt h3 {
  line-height: 1.5;
  text-align: center;
  font-size: 2.5rem;
  color: white;
}
.abt-choc-wrap {
  margin-bottom: 4%;
  padding: 3% 0;
  display: flex;
  justify-content: center;
  background-color: #fee0df;
}
.abt-choc-wrap .abt-choc-img {
  width: 32%;
  display: flex;
  justify-content: space-around;
}
.abt-choc-wrap .abt-choc-img img {
  width: 199px;
  height: 369px;
}
.abt-choc-wrap .abt-choc-txt {
  width: 35%;
  margin-left: 3%;
  padding-top: 4%;
  text-align: center;
}
.abt-choc-wrap h1 {
  font-size: 3rem;
  text-transform: uppercase;
  padding: 3% 0;
}
.abt-choc-wrap h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 3% 0;
}
.abt-choc-wrap hr {
  width: 100px;
}
.abt-choc-wrap p {
  margin: 3% 0;
  line-height: 1.5;
}
.inner-contact-txt {
  margin-top: 2%;
  margin-bottom: 4%;
  text-align: center;
  padding: 1.5% 0;
}
.inner-contact-txt h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
.inner-contact-txt h4 {
  font-size: 2rem;
  line-height: 1.5;
}
.inner-contact-txt hr {
  width: 100px;
}
.inner-contact-txt form {
  margin-top: 6%;
}
.inner-contact-txt form .fields {
  display: flex;
  justify-content: center ;
}
.inner-contact-txt form .fields .fields-inp {
  width: 23%;
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}
.inner-contact-txt form .fields .fields-inp input {
  margin-bottom: 3%;
  padding: 3px 0;
}
.inner-contact-txt form .fields .msg-txt {
  display: flex;
  flex-direction: column;
}
.inner-contact-txt form .fields .msg-txt textarea {
  resize: none;
  width: 250px;
  height: 100px;
  margin-bottom: 1.5%;
}
.inner-contact-txt form .fields .msg-txt .btn1 {
  padding-left: 60%;
}
.inner-contact-txt form .fields .msg-txt .btn1 button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #070606;
  height: 30px;
  width: 100px;
  color: blanchedalmond;
  font-size: 1.8rem;
  line-height: 1.5;
}
.inner-contact-txt form .fields .msg-txt .btn1 button:hover {
  background-color: #60271B;
  color: rgba(235, 226, 234, 0.945);
}
footer {
  width: 100%;
  height: 60px;
  background-color: #fbd0ca;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 1.6rem;
  text-align: center;
}
